@import "~bootstrap/scss/bootstrap";

.main {
  height: 60px;
  width: 60px;
}

.hide{
  display: none;
};

.heading{
  text-align: center;
}

.board-title{
  text-align: center;
}

#google-auth {
  margin-top: 1em;
  display: block;
  margin: 0px auto;
  // width: 25%;
  // height: 25%;
}
